<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Any" version="4.3.0" targetFramework="net462" />
  <package id="AutoFixture" version="4.14.0" targetFramework="net462" />
  <package id="AutoFixture.SeedExtensions" version="4.14.0" targetFramework="net462" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net462" />
  <package id="Fare" version="2.1.1" targetFramework="net462" />
  <package id="FluentAssertions" version="5.10.3" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.AutoFixtureWrapper" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.CommonTypes" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.Extensibility" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.Generators.Collections" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.Generators.Generic" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.Generators.Invokable" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.Generators.Math" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.Generators.Network" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.Generators.Numbers" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.Generators.Root" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.Generators.Strings" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.TypeReflection" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.TypeReflection.ImplementationDetails" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.TypeReflection.Interfaces" version="4.4.0" targetFramework="net462" />
  <package id="TddXt.Any.TypeResolution" version="4.4.0" targetFramework="net462" />
</packages>